@import url('https://fonts.googleapis.com/css2? family= Montserrat:wght@200;400 & display=swap');

.general {
    font-family: 'Montserrat', sans-serif;
}
.header__flex {
    background-color: rgb(52, 58, 64);
    display: flex;
    justify-content: space-around;

}
.logo_superior {
    display: flex;
    align-items: center;
    width: 30%;
    color: white;
}
.imagen_logo {
    width: 20%;
}
.navegador_superior {
    display: flex;
    color: white;
    width: 50%;
    align-items: center;
    justify-content: space-between ;
}
.link {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    margin-right: 0.5rem;
}
.seccion_principal {
    background-image: linear-gradient(to right,rgb(0 0 0 /.5),rgb(0 0 0 /.5)), url(./assets/imagenes/ba1.jpg) ;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.sec_prin {
    color: white;
    width: 40%;
    text-align: right;
}
.letragrande{
    font-size: 2.5rem;
}

.letramediana{
    font-size: 1.7rem;
    
}
.letrachica {
    font-size: 1rem;

}

.titulo_oradores {
    display:flex;
    flex-direction: column;
    align-items: center;
    line-height:0px;
    padding-top: 1rem;

}
.padre_oradores {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    justify-content:space-between;
    
    
}
.hijo_oradores {
    width: 30%;
    border: 1px solid rgb(194, 193, 193);
    border-radius: 10px;
}
.parrafotarjeta {
    width: 80%;
    
}
.tarjetaImagen {
    width: 100%;
}
.tarjetaContenido{
    padding: 1rem;
   

}
.tarjeta_lugar {
    display: flex;
    height: 70vh;
    align-content: center;
    flex-direction: row;
    justify-content: flex-end;
    background-size: cover;
    margin-top: 40px;
    line-height:20px;
    
}
.imagen_lugar {
    width:50%;
    background-image: url("./assets/imagenes/honolulu.jpg");
    background-size: cover;

}
.contenido_lugar {
    width:50%;
    background-color: #343333;
    color:white;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    
}
.boton {
    display: inline-block;
    text-decoration: none;
    border-radius: 5px ;
    background-color: rgb(39, 168, 68);
    padding: 5px;
    color: rgb(248, 250, 248);
}
.botonorador {
    display: inline-block;
    text-decoration: none;
    border:  5px ;
    padding: 10px;
    border-color: white;

    color: rgb(255, 255, 255);
}
.botonenviar {
    display: flex;
    text-decoration: none;
    width: 50%;
    background-color: rgb(150, 201, 62);
    padding: 5px;
    color: rgba(248, 250, 248, 0);
}
.piedepagina{
    display: flex;
    text-decoration: none;
    width: 100%;
    height: 60px;
    background-color: rgb(29, 70, 92);  
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;



}
.linkpie {
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
    margin-right: 0.5rem;
    justify-content: space-between;
}

@media screen and (max-width: 500px) {
    .header__flex {
        flex-direction: column;
    }
    .logo_superior {
        width: 100%;
        justify-content:space-between ;
        padding-left: 0;
    }
    .navegador_superior {
        width: 100%;
        flex-direction: column;
    }
    .link {
        display: inline-block;
        padding: 1rem;
        border-bottom: 1px solid #faf9f9;
        width: 100%;
    }
    .seccion_principal {
        justify-content: center;
    }
    .sec_prin {
        text-align: center;
        width: 80%;
    }
    .padre_oradores {
        flex-direction: column;
    }
    .hijo_oradores {
        width: 100%;
        text-align: center;
    }
    .tarjeta_lugar {
        flex-direction: column;
    }
    .imagen_lugar {
        width: 100%;
        height: 100%;

    }
    .contenido_lugar {
        width: 100%;

    }


}

